@import url('./colors.css');
@import url('./elements.css');
@import url('./typography.css');

:root,
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    corner-shape: squircle;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    box-sizing: border-box;
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
}

div,
aside,
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-surface-darker);
    background-image: url('assets/wallpaper-light.png');
    background-position: center;
    background-size: cover;
    color: var(--text-on-surface);
    user-select: none;

    /* Typography */
    font-family: 'SF Pro Display';
    line-height: 2em;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: url('assets/wallpaper-dark.png');
    }
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

.window {
    position: relative;
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    background-color: var(--bg-surface);
    width: 1000px;
    height: 600px;
    overflow: clip;
    isolation: isolate;

    border: 1px solid var(--border);
}

.window.rounded {
    border-radius: 2rem;
}

.hidden {
    display: none;
}

.window .titlebar {
    z-index: 10;
    display: flex;
    cursor: move;
}

.window .window-icon {
    padding: 0.3rem;
    border-radius: 4rem;
    position: absolute;
    left: 0.3rem;
    top: 0.15rem;
    color: var(--text-on-primary);
    width: 1.8rem;
    aspect-ratio: 1/1;
}

.window .controls {
    background-color: var(--bg-container-primary);
    padding: 0.3rem;
    gap: 0.25rem;
    border-radius: 4rem;
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    transition-property: padding;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.window .controls:hover,
.window .controls:focus-within {
    padding: 0.6rem;

    & .control {
        padding: 0.5rem;
    }
}

.window .controls .control {
    padding: 0.35rem;
    border-radius: 1.5rem;
    cursor: pointer;
    corner-shape: round;

    transition-property: padding, scale;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    background-color: var(--bg-primary);
}

.window .controls .control:hover,
.window .controls .control:focus-within {
    background-color: oklch(from var(--bg-primary) calc(l - 0.1) c h);
    scale: 1.2;
}

.window .controls .control:active {
    translate: 0 0.1rem;
}

@media screen and (prefers-color-scheme: dark) {
    .window .controls {
        background-color: var(--bg-container-primary);
    }

    .window .controls .control {
        background-color: var(--text-on-primary);
    }
}

.window .title {
    font-variant-caps: small-caps;
    text-align: center;
    flex-grow: 1;
    cursor: move;
}

.window .tabs {
    gap: 0.2rem;
    /* padding-block: 0.2rem; */
}

.window .content {
    flex-grow: 1;
    align-items: stretch;
}

.window .content main {
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
}

.window .content aside {
    /* position: absolute;
    left: 0;
    top: 0;
    bottom: 0; */

    margin-block-start: -2rem;

    background-color: var(--bg-container-primary);
    width: 12rem;
    flex-direction: column;
    align-items: stretch;
}

aside .search {
    height: 2rem;
    margin-block-end: 1rem;
    font-variant-caps: all-petite-caps;
}

aside .quick-access {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    flex-grow: 1;
    padding-inline: 0.5rem;
    gap: 0.5rem;
}

aside .drives {
    font-variant-caps: all-petite-caps;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
    margin: 0.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
    background-color: oklch(from var(--bg-container-primary) calc(l - 0.075) calc(c + 0.01) h);
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}